@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf)
}

a, a:hover, a:visited {
    color: #303030;
    text-decoration: none;
}

a.button {
    border-radius: 20px;
    background: #2bbeb6;
    color: white;
    padding: 10px 16px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}

.avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 15px;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    margin: 0;
    font-family: Montserrat;
}

.hide {
    display: none !important;
}

/* Header */

.header {
    padding: 20px 10%;
    border-bottom: 2px solid #d4d4d4;
}

.logoBlock {
    display: inline-block;
    width: 19%;
    height: 60px;
    vertical-align: middle;
}

.logo {
    background: url(../img/logo.png) 0 0 no-repeat;
    background-size: contain;
    height: inherit;
    width: 200px;
}

.header .logo {
    position: relative;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    background-position: 5px;
    background-size: 85%;
    box-sizing: border-box;
}

.droppedMenu {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.logoBlock_link {
    position: absolute;
    bottom: -2px;
    right: 10px;
    border: 6px solid #929292;
    border-color: #929292 transparent transparent;
}

.logoBlock_link:hover {
    border-color: black transparent transparent
}

.logoBlock_menu {
    display: none;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    position: absolute;
    bottom: -132px;
    background: white;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    left: 0;
    z-index: 1000;
}

.logoBlock_menu li {
    margin-bottom: 10px;
}

.logoBlock_menu a {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 23px;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.logoBlock_menu_home {
    background-image: url(../img/icons/home.svg);
}

.logoBlock_menu_toRead {
    background-image: url(../img/icons/toRead.svg);
}

.logoBlock_menu_topGroups {
    background-image: url(../img/icons/topGroups.svg);
}

.logoBlock_menu_newGroups {
    background-image: url(../img/icons/newGroups.svg);
}

.searchBlock {
    width: 55%;
    display: inline-block;
    position: relative;
}

.searchBlock_tinkwall {
    display: block;
    position: absolute;
    height: 34px;
    width: 34px;
    background: url(../img/icons/lamp.svg) 0 0 no-repeat;
    background-size: cover;
    left: -34px;
}

.searchBlock input, .searchBlock input:focus {
    border: none;
    outline: none;
    background: transparent;
    font-family: Montserrat;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
}

.searchBlockInputGroup {
    background: #f4f4f4;
    position: relative;
    display: inline-block;
    width: 59%;
    padding: 8px 55px 8px 20px;
    border-radius: 20px 0 0 20px;
    border-right: 1px solid #d1d1d1;
    box-sizing: border-box;
    vertical-align: top;
}

.searchBlockInputGroup .fa-search {
    background: white;
    padding: 6px;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 18px;
}

.searchBlock_buttonsBlock {
    background: #f4f4f4;
    display: inline-block;
    padding: 8px 10px 8px 30px;
    border-radius: 0 20px 20px 0;
    border-left: 1px solid #d1d1d1;
    margin-left: -4px;
    text-align: right;
    width: 40%;
    box-sizing: border-box;
}

.searchBlockButtons {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 4px 12px;
    border-radius: 16px;
}

.searchBlockButtons.active {
    color: white;
    background: #303030;
}

.loginBlock {
    margin-top: 10px;
    float: right;
}

.loginBlock a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px;
    vertical-align: middle;
}

a.loginButton, a.loginButton:visited, a.loginButton:hover {
    background: #2bbeb6;
    color: white;
    padding: 10px 38px 10px 13px;
    border-radius: 20px;
    position: relative;
}

.loginButton i {
    background: rgba(255, 255, 255, .5);
    font-size: 19px;
    padding: 3px 5px;
    border-radius: 15px;
    position: absolute;
    top: 5px;
    right: 7px;
}

.loginBlock_signedIn {
    display: inline-block;
}

.loginBlock_signedIn a {
    font-size: 19px;
    margin: 0;
    padding: 7px;
    border-radius: 100%;
}

.loginBlock_signedIn a.far {
    font-weight: normal;
}

.loginBlock_signedIn .fa-envelope {
    position: relative;
}

.loginBlock_signedIn .fa-envelope span {
    position: absolute;
    border-radius: 100%;
    background-color: red;
    color: white;
    padding: 2px;
    top: 0;
    right: 0;
    width: 12px;
    font-family: Montserrat;
    font-size: 12px;
    text-align: center;
}

a.loginBlock_userButton {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px 10px 5px 5px;
    text-transform: none;
}

.loginBlock_userButton span {
    margin-right: 5px;
}

a.menuBurger {
    font-size: 19px;
    padding: 8px 10px;
    border-radius: 100%;
}

a.menuBurger:hover, .loginBlock_signedIn a:hover {
    background: #f1f1f1;
}

/* Tags block */

.tagsBlock {
    border-bottom: 1px solid #d4d4d4;
    padding: 40px 0 20px;
}

.tags {
    width: 56%;
    margin: 0 auto 15px;
}

.tagWrapper {
    float: left;
    width: 25%;
    margin-bottom: 15px;
    position: relative;
}

.tagButton {
    display: block;
    font-family: Montserrat;
    font-size: 18px;
    color: #303030;
    background: transparent;
    border: 2px solid #2bbeb6;
    width: 94%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 28px;
    outline: none;
    cursor: pointer;
}

.tagWrapper:hover .tagButton {
    background: #2bbeb6;
    color: white;
    border-radius: 28px 28px 0 0;
}

.tagWrapper:hover .subtags {
    display: block;
}

.clear {
    clear: both;
    position: relative;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.subtags {
    display: none;
    z-index: 999;
    position: absolute;
    background: #2bbeb6;
    border-radius: 0 0 28px 28px;
    padding: 10px;
    box-sizing: border-box;
    width: 94%;
    border-top: 1px solid white;
    left: 3%;
}

a.subtagButton {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.sideButtons {
    text-align: center;
}

.sideButtons a {
    background: #e8e8e8;
    color: white;
    padding: 7px 9px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 5px;
}

.sideButtons a:hover, .articlesCarousel .leftButton:hover, .articlesCarousel .rightButton:hover {
    background: #a2a2a2;
}

/* Common Block Rules */

.contentBlock {
    padding-left: 14%;
    padding-right: 14%;
    border: 1px solid #d4d4d4;
}

.blockTitle {
    position: relative;
    font-size: 30px;
}

.blockTitle:before, .postedBy:before {
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    border: 5px solid #2bbeb6;
    border-radius: 5px;
    top: -15px;
}

/* Most Popular to Read */

.mostPopularBlock {
    padding-top: 25px;
    padding-bottom: 30px;
}

.articlesCarousel {
    position: relative;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.articlesCarousel>div {
    overflow: hidden;
}

.articlesCarousel .article {
    width: 33%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

.article_img {
    border-radius: 20px;
}

.article_title {
    font-weight: bold;
}

.articlesCarousel .leftButton, .articlesCarousel .rightButton {
    position: absolute;
    bottom: 20px;
    font-size: 18px;
    background: #dedede;
    color: white;
    padding: 7px 9px;
    border-radius: 20px;
}

.articlesCarousel .leftButton {
    left: 15px;
}

.articlesCarousel .rightButton {
    right: 15px;
}

.mainArticle_img {
    display: inline-block;
    width: 49%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .3);
}

.mainArticle_textBlock {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 30px;
    box-sizing: border-box;
}

.mainArticle_title {
    font-size: 18px;
    color: #2bbeb6;
    font-weight: bold;
}

.mainArticle_linkWrapper {
    text-align: right;
}

.mainArticle_readLink {
    text-decoration: underline;
}

/* Most Active Users */

.mostActiveUsersBlock {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mostActiveUsersBlock_wrapper {
    overflow: hidden;
    border: 2px solid #d4d4d4;
    border-radius: 20px;
    padding: 20px;
}

.mostActiveUsersBlock_user {
    width: 25%;
    float: left;
    text-align: center;
    margin: 25px 0;
}

.mauBlock_user_avatar {
    width: 70px;
    height: 70px;
}

.mauBlock_user_name {
    vertical-align: middle;
    font-weight: bold;
}

/* Most Popular Groups */

.mostPopularGroupsBlock, .newGroupsBlock {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blockTitleWithFilter {
    width: 50%;
    display: inline-block;
}

.timeRangeFilter {
    display: inline-block;
    width: 49%;
    text-align: right;
}

a.timeRangeFilter_button {
    padding: 10px 40px;
    margin: 0 10px;
}

.group {
    border-radius: 20px;
    background: #f4f4f4;
    padding: 20px 40px;
    margin-bottom: 20px;
}

.group_header {
    overflow: hidden;
    margin-bottom: 20px;
}

.group_header_tag {
    font-size: 18px;
    font-weight: bold;
}

.group_header_date {
    float: right;
}

.group_content {
    overflow: hidden;
    width: 60%;
    display: inline-block;
}

.group_content_img {
    width: 25%;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}

.group_content_title {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.group_sideBlock {
    width: 39%;
    display: inline-block;
    padding-left: 200px;
    box-sizing: border-box;
    vertical-align: top;
}

.group_sideBlock_members {
    margin-bottom: 20px;
}

.member {
    width: 60px;
    height: 60px;
    vertical-align: top;
    margin-right: 10px;
}

.more {
    background: white;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    margin-right: 0;
    font-size: 20px;
    border-radius: 100%;
}

.group_sideBlock_membersCount {
    display: block;
    margin-bottom: 15px;
}

.group_sideBlock_membersCount i, .group_sideBlock_seenCount i {
    font-size: 18px;
    color: #2bbeb6;
    margin-right: 15px;
}

.group_sideBlock_seenCount {
    display: block;
}

.pagination {
    text-align: right;
    padding: 0 30px;
}

.pagination li {
    display: inline-block;
    margin: 0 3px;
}

.pagination li a {
    color: #d7d7d7;
}

.pagination .activePage a {
    color: #303030;
    font-weight: bold;
}

/* Footer */

.footer {
    padding: 30px 14%;
}

.footer .logo {
    background-image: url(../img/logo.png);
}

.footer_linksBlock {
    display: inline-block;
    width: 60%;
    text-align: center;
}

.footer_linksBlock>a {
    margin: 0 30px;
    font-weight: bold;
}

.footer_social {
    display: inline-block;
    margin: 0 30px;
}

.footer_social a {
    margin: 0 5px;
}

.footer_subscribeBlock {
    display: inline-block;
    width: 20%;
}

.footer_subscribeBlock span {
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}

.inputWithIcon {
    padding: 10px 38px 10px 20px;
    background: #f4f4f4;
    border-radius: 20px;
    position: relative;
}

.inputWithIcon input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
}

a.inputSubmit {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 7px 9px;
    border-radius: 100%;
    background: #2bbeb6;
    color: white;
}

/* Dialogs */

.dialogBackground {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    top: 0;
}

.dialog {
    width: 900px;
    margin: 13% auto 0;
    background: white url(../img/dialog_bg.png) 104% center no-repeat;
    border-radius: 20px;
    padding: 20px 300px 20px 30px;
    box-sizing: border-box;
    position: relative;
}

a.dialog_close {
    font-size: 25px;
    color: #929292;
    position: absolute;
    left: 15px;
    top: 15px;
}

a.dialog_close:hover {
    color: #303030;
}

.dialog_content {
    padding: 20px 120px;
    text-align: center;
}

.dialog_content .logo {
    height: 30px;
    width: 115px;
    margin: 0 auto 60px;
}

.dialog_title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}

.dialog_input {
    background: transparent;
    border: 1px solid #f1f1f1;
    border-width: 0 0 2px;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    margin-bottom: 12px;
    outline: none;
}

a.dialog_button {
    display: block;
    background: #2bbeb6;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 12px;
}

.dialog_social span {
    font-size: 14px;
    margin-right: 10px;
    vertical-align: middle;
}

.dialog_social a {
    font-size: 24px;
    margin: 0 2px;
    vertical-align: middle;
}

.facebook {
    color: #2e5e97;
}

.googlePlus {
    color: #ff481d;
}

.twitter {
    color: #00a0f7;
}

.loginDialog .dialog_content {
    padding-bottom: 110px;
}

/* Tinkwall */

.pageContent {
    padding: 30px 10%;
    border-bottom: 1px solid #d4d4d4;
}

.tinkwall {
    background: #ebf8fa;
}

.tinkwall_posts, .chosenArticle_mainContent {
    width: 70%;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
}

.tinkwall_sidebar, .chosenArticle_sidebar {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 10px;
}

.tinkwall_createPost {
    padding: 20px;
}

.tinkwall_createPost .avatar {
    width: 50px;
    height: 50px;
}

.tinkwall_createPost input[type='text'] {
    width: 82%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 1px solid #d1d1d1;
    outline: none;
}

a.tinkwall_createPost_addImage {
    float: right;
    color: #7d7d7d;
    font-size: 27px;
    padding: 10px;
    border-radius: 100%;
}

a.tinkwall_createPost_addImage:hover {
    background-color: #f1f1f1;
}

.post {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.post_header {
    overflow: hidden;
}

.post_header, .post_content, .post_footer {
    padding: 15px 30px;
}

.post_img {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.post_autor {
    width: 40px;
    height: 40px;
}

.post_autorName {
    font-weight: bold;
    margin: 0 5px;
}

.post_autorName:hover {
    text-decoration: underline;
}

.post_likes {
    float: right;
    margin-top: 10px;
}

.post_likes a {
    margin-left: 10px;
    font-weight: bold;
}

.post_likes i, .post_footer i {
    color: #7d7d7d;
    margin-right: 5px;
}

.post_content_title {
    margin: 0 0 15px;
    font-size: 30px;
}

.post_content_text {
    font-size: 20px;
    position: relative;
}

.post_content_text:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3em;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, white 100%);
}

.post_footer {
    border-top: 1px solid #d4d4d4;
}

a.post_footer_comments, a.post_footer_share {
    font-weight: bold;
    color: #7d7d7d;
}

.post_footer_comments {
    margin-right: 15px;
}

.tinkwall_sidebar_location {
    display: block;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.tinkwall_sidebar_panel {
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.sidebar_panel_title {
    border-bottom: 1px solid #d4d4d4;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 15px;
}

.sidebar_panel_list {
    padding: 15px;
}

.sidebar_panel_list li {
    margin-bottom: 10px;
    overflow: hidden;
}

.sidebar_panel_groupLink {
    display: inline-block;
}

.groupLink_avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.groupLink_description {
    display: inline-block;
    vertical-align: top;
}

.groupLink_description span {
    display: block;
}

.groupLink_title {
    font-weight: bold;
    margin-bottom: 5px;
}

a.followGroupButton {
    float: right;
}

/* Chosen Article */

.chosenArticle {
    padding-top: 30px;
    padding-bottom: 30px;
}

.postedBy {
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}

.postedBy_avatar {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.postedBy_name {
    font-weight: bold;
}

.chosenArticle_img {
    border-radius: 28px;
}

.chosenArticle_title {
    font-size: 40px;
    margin-bottom: 15px;
}

.chosenArticle_subtitle span {
    margin-right: 15px;
}

.chosenArticle_subtitle a {
    margin: 0 15px;
}

.chosenArticle_subtitle a:hover {
    font-weight: bold;
}

.chosenArticle_subtitle a i {
    margin-right: 10px;
    color: #2bbeb6;
}

.comments_title {
    color: #959595;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 15px;
}

.comments_inputBlock {
    border: 2px solid #d4d4d4;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 20px;
    overflow: hidden;
}

.comments_inputBlock input[type="text"] {
    width: 70%;
    font-size: 16px;
    border: none;
    outline: none;
    height: 34px;
}

.comments_inputBlock_button {
    float: right;
    display: block;
    margin: 0 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
}

.comments_inputBlock_button.signUpButton {
    color: #2bbeb6;
    border: 1px solid #2bbeb6;
}

.comments_inputBlock_button.loginButton,
.comments_inputBlock_button.loginButton:hover {
    padding: 10px 20px;
}

.comment {
    padding: 5px 30px 5px 60px;
}

.comment_header {
    margin-left: -55px;
}

.comment_header_avatar {
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 100%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.comment_header_name {
    font-weight: bold;
    margin-right: 10px;
}

.comment_header_date {
    color: #959595;
}

.comment_text {
    margin: 0 0 15px;

}

.comment_footer {
    margin-bottom: 15px;
}

.comment_footer a {
    color: #2bbeb6;
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
}

.comment_footer a:hover {
    text-decoration: underline;
}

.subcomments .comment {
    padding-right: 0;
}

a.comments_loadMore {
    display: block;
    width: fit-content;
    margin: 10px auto;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 15px;
}

/* Chosen Group */

.chosenGroup_header {
    position: relative;
    text-align: center;
}

.chosenGroup_header:after {
    content: '';
    display: block;
    width: 80%;
    position: absolute;
    border: 3px solid #2bbeb6;
    bottom: -6px;
    left: 10%;
    border-radius: 20px;
}

.chosenGroup_wallpaper {
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 15px;
}

.chosenGroup_creator {
    margin-bottom: 30px;
}

.chosenGroup_creator_avatar {
    width: 50px;
    height: 50px;
}

.chosenGroup_creator_name {
    font-weight: bold;
}

.chosenGroup_title {
    font-size: 50px;
}

.chosenGroup_subtitle {
    padding: 15px;
}

.chosenGroup_subtitle span {
    margin: 0 20px;
}

.chosenGroup_subtitle span i {
    margin-right: 10px;
    color: #2bbeb6;
}

.sidebar_panel_text {
    padding: 15px;
    margin: 0;
}

.sidebar_panel_footer {
    border-top: 1px solid #d4d4d4;
    padding: 15px;
}

.sidebar_panel_footer p {
    margin: 0 0 10px;
}

.sidebar_panel_footer p i {
    color: #2bbeb6;
    margin-right: 10px;
}

.chosenGroup_createdDate {
    font-weight: bold;
}

/* Chosen post */

.morePosts {
    font-size: 20px;
}

.toGroupLink {
    font-weight: bold;
}

.toGroupLink:hover {
    text-decoration: underline;
}

.post .comments_loadMore {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.post .comments {
    margin-top: 20px;
}

.post .comments_commentsList, .post .subcomments {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}

.post .comment {
    padding: 10px 0 10px 65px;
}

.post .comment {
    border-top: 1px solid #d4d4d4;
}

.post .comment:first-child {
    border-top: none;
}

.post .comment_text {
    padding-right: 10px;
}

.comment_quote {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    margin: -10px 0 10px -65px;
}

/* User Profile */

.user_sidebar {
    width: 29%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 10px;
}

.userProfilePanel {
    text-align: center;
}

.userProfilePanel .avatar {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
}

.user_sidebar_edit {
    position: absolute;
    background: white;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);
    right: 15px;
    top: 15px;
    color: #2bbeb6;
}

.user_sidebar_username {
    font-weight: bold;
    font-size: 22px;
}

.userProfilePanel .button {
    margin: 0 10px 20px;
    width: 80%;
    box-sizing: border-box;
}

.sidenav {
    padding-top: 10px;
}

.sidenav li {
    font-size: 22px;
    margin-bottom: 28px;
}

.sidenav_active {
    font-weight: bold;
}

.sidenav_active a {
    position: relative;
}

.sidenav_active a:after {
    position: absolute;
    display: block;
    border-bottom: 2px solid #2bbeb6;
    content: '';
    width: 130%;
    bottom: -8px;
}

.userProfile_blockTitle {
    margin-top: 0;
    font-size: 30px;
    overflow: hidden;
}

.userProfile_blockTitle_searchBlock {
    border-radius: 20px;
    padding: 5px 10px 5px 35px;
    float: right;
    width: 300px;
    position: relative;
    background: white;
    font-size: 20px;
}

.userProfile_blockTitle_searchBlock input[type='text'] {
    outline: none;
    background: transparent;
    font-size: 20px;
    width: 100%;
    border: none;
}

.userProfile_blockTitle_searchBlock i {
    position: absolute;
    top: 8px;
    left: 10px;
}

.userProfile_contentPanel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    background: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.userProfile_usersList li {
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 20px;
}

.userProfile_usersList li .avatar {
    width: 40px;
    height: 40px;
}

.usersList_button {
    font-weight: bold;
}

.usersList_button:hover {
    text-decoration: underline;
}

.userProfile_usersList li span, .userProfile_usersList li a {
    margin: 0 15px;
}

.tinkwall_posts .group {
    background-color: white;
}

.tinkwall_posts .group_header span {
    margin: 0 20px;
}

.tinkwall_posts .group_header .group_header_tag {
    margin-left: 0;
}

.tinkwall_posts .group_header span i {
    color: #2bbeb6;
    margin-right: 10px;
}

.tinkwall_posts .group_content {
    width: 100%;
}

a.group_content_title:hover {
    text-decoration: underline;
}

.tinkwall_posts .article {
    width: 40%;
    display: inline-block;
    margin: 0 10px 30px;
}

.tinkwall_posts .article_title {
    margin: 10px 0;
}

.customizeProfile_sectionTitle {
    width: 80%;
    font-weight: bold;
    border-bottom: 1px solid #d1d1d1;
    padding: 10px 0;
    margin: 0 0 20px;
}

.customizeProfile_input {
    width: 100%;
    font-family: Montserrat;
    font-size: 16px;
    background: transparent;
    border: none;
    margin: 0 0 20px;
    outline: none;
}

textarea.customizeProfile_input {
    resize: none;
    height: 100px;
}

.customizeProfile_profileImageWrapper {
    position: relative;
    display: inline-block;
}

.customizeProfile_profileImage {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
}

.customizeProfile_addImage {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 100%;
    width: 25px;
    text-align: center;
}

/* Settings */

.settings_wrapper {
    padding: 30px 10% 50px;
    border-bottom: 1px solid #d4d4d4;
}

.settings_panel {
    width: 80%;
}

.settings_panel_title {
    font-size: 36px;
}

.settings_nav {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.settings_nav li {
    font-size: 22px;
    margin-bottom: 28px;
}

.settings_content {
    width: 70%;
    display: inline-block;
    font-size: 22px;
    padding: 0 10px;
    box-sizing: border-box;
}

.settings_content_block_title {
    margin-bottom: 10px;
}

.settings_content_block_line {
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 10px;
}

.scbLine_label, .scbLine_content, .scbLine_edit {
    display: inline-block;
}

.scbLine_label {
    width: 30%;
}

.scbLine_label i {
    font-size: 22px;
    padding: 0 5px;
}

.scbLine_content {
    width: 50%;
    font-weight: bold;
}

a.scbLine_edit {
    width: 18%;
    font-size: 18px;
    color: #2bbeb6;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: right;
    font-weight: bold;
}

a.scbLine_edit:hover {
    text-decoration: underline;
}

a.scbLine_edit.escaped {
    width: auto;
    text-align: left;
}

/* New post */

.createPost_header {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin: 0 auto;
    width: 40%;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: .5em;
}

.chooseGroup_select {
    margin: 10px auto;
    display: block;
}

.newPostForm {
    width: 50%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.newPostForm_header {
    overflow: hidden;
    border-bottom: 1px solid #b4b4b4;
}

.newPostForm_header_btn {
    width: 33%;
    padding: 15px;
    text-align: center;
    border: 1px solid #d4d4d4;
    float: left;
    border-top: none;
    box-sizing: border-box;
}

.newPostForm_header_btn:first-child {
    border-left: none;
    border-radius: 10px 0 0 0;
}

.newPostForm_header_btn.active {
    background: #2bbeb6;
    border-color: #2bbeb6;
    color: white;
}

.newPostForm_title {
    margin: 10px 20px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #d4d4d4;
    padding: 10px;
}

.newPostForm_title input {
    padding: 0;
    border: none;
    width: 90%;
    outline: none;
}

.newPostForm_title_counter {
    position: absolute;
    right: 10px;
}

.newPostForm_body {
    border: 1px solid #d4d4d4;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 10px 10px 0;
}

.newPostForm_body textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 200px;
    resize: none;
}

.newPostForm_body_footer {
    overflow: hidden;
    padding: 5px;
}

.newPostForm_body_footer .button {
    float: right;
    padding: 6px 26px;
    margin-left: 10px;
}

.newPostForm_body_footer .cancel {
    background: white;
    border: 1px solid #2bbeb6;
    color: #2bbeb6;
}

.newPostForm_footer {
    padding: 0 20px 10px;
}

.newPostForm_footer a {
    padding: 10px;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-block;
}

.newPostForm_footer a:hover {
    background: #d4d4d4;
}

#tagsDialog {
    display: block;
}

#tagsDialog .dialog {
    background: white;
    width: 50%;
    padding: 0;
}

.tagsDialog_header {
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    padding: 14px;
    position: relative;
}

.tagsDialog_header:before {
    display: block;
    content: "\f002";
    position: absolute;
    left: 20px;
    font-family: "Font Awesome 5 Free";
    color: #999;
}

#tagsDialog .tagsBlock {
    padding: 10px 20px 0;
    border: none;
}

.dialog .tags {
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.dialog .tagButton {
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
}

.dialog .tagButton:hover {
    border-radius: 28px;
}

.tagsDialog_footer {
    padding: 0 25px 20px;
    overflow: hidden;    
}

.tagsDialog_footer .button {
    width: 20%;
    text-align: center;
    padding: 18px;
    border-radius: 30px;
}

.leftBtn {
    float: left;
}

.rightBtn {
    float: right;
}

.createHiddenMenu_btn {
    position: relative;
}

.createHiddenMenu_btn:hover .create_hiddenMenu {
    display: block;
}

.create_hiddenMenu {
    display: none;
    font-family: Montserrat;
    position: absolute;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    padding: 8px 0;
    top: -8px;
    left: -8px;
    z-index: 999;
}

.create_hiddenMenu span {
    padding: 0 8px 8px;
    display: block;
    border-bottom: 1px solid #d4d4d4;
}

.create_hiddenMenu span i {
    margin-right: 5px;
}

.create_hiddenMenu a {
    text-transform: none;
    white-space: nowrap;
    font-size: 14px;
}

.create_hiddenMenu a:hover {
    background: none;
}